@model BudgetBuddyUI.Models.OverviewPageModel
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Budget Overview</h1>

<br />

@if (Model is null)
{
    <p>You don't have any budgets to display.</p>
}
else
{
    // Overview - monthly summareis - table
    <h3>Monthly Summaries</h3>
    <br />

    <table class="table table-striped w-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[0].MonthlySummaries.First().MonthName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[0].MonthlySummaries.First().YearOfTransaction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[0].MonthlySummaries.First().IncomeAmount)
                </th>
                    <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[0].MonthlySummaries.First().ExpenseAmaount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[0].MonthlySummaries.First().MarginAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OverviewModels.ToList()[0].MonthlySummaries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfTransaction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncomeAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseAmaount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarginAmount)
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[0].Totals.MonthName)
                </td>
                <td>
                    
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[0].Totals.IncomeAmount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[0].Totals.ExpenseAmaount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[0].Totals.MarginAmount)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[0].Averages.MonthName)
                </td>
                <td>
                    
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[0].Averages.IncomeAmount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[0].Averages.ExpenseAmaount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[0].Averages.MarginAmount)
                </td>
            </tr>
        </tbody>
    </table>

    <br />
    <br />

    <h3>Projections (Inflation, Default = 8%)</h3>
    <br />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="@Model.InflationPercentage" class="control-label"></label>
                    <input asp-for="@Model.InflationPercentage" class="control-label" />
                    <span asp-validation-for="@Model.InflationPercentage" class="text-danger"></span>
                </div>

                <br />

                <div class="form-group">
                    <input type="submit" value="Recalculate for Inflation" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <br />

    // Projections table
    <table class="table table-striped w-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[1].MonthlySummaries.First().MonthName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[1].MonthlySummaries.First().YearOfTransaction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[1].MonthlySummaries.First().IncomeAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[1].MonthlySummaries.First().ExpenseAmaount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[1].MonthlySummaries.First().MarginAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OverviewModels.ToList()[1].MonthlySummaries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfTransaction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncomeAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseAmaount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarginAmount)
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[1].Totals.MonthName)
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[1].Totals.IncomeAmount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[1].Totals.ExpenseAmaount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[1].Totals.MarginAmount)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[1].Averages.MonthName)
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[1].Averages.IncomeAmount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[1].Averages.ExpenseAmaount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OverviewModels.ToList()[1].Averages.MarginAmount)
                </td>
            </tr>
        </tbody>
    </table>

    <br />
    <br />

    // Highlights Table
    <h3>Highlights</h3>
    <br />

    <table class="table table-striped w-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[0].Highlights.First().NameOfExpenditure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverviewModels.ToList()[0].Highlights.First().AmountOfExpenditure)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OverviewModels.ToList()[0].Highlights)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfExpenditure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfExpenditure)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}