@model IEnumerable<DashboardBudgetsTableModel>
@{
    ViewData["Title"] = "Dashboard";
}

<br />

<h1>Budget Management Dashboard</h1>

<br />

@if (Model is null)
{
    <p>You don't have any budgets to display.</p>
}
else
{
    <form asp-action="Create" method="get" class="col-md-2">
        <div class="form-group">
            <input type="hidden" name="userId" value="@Model.First().UserId" />
            <input type="submit" value="Create a New Budget" class="btn btn-primary" />
        </div>
    </form>

    <br />

    <h3>Your Budgets</h3>

    <table class="table table-striped w-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BudgetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDefaultBudget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Threshhold)
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BudgetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDefaultBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Threshhold)
                    </td>
                    <td>
                        <form asp-action="EditBudgetName" method="get" class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="budgetId" value="@item.Id" />
                                <input type="hidden" name="userId" value="@item.UserId" />
                                <input type="hidden" name="budgetName" value="@item.BudgetName" />
                                <input type="hidden" name="threshhold" value="@item.Threshhold" />
                                <input type="submit" value="Edit" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="get" class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="budgetId" value="@item.Id" />
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <h3>Your Templates</h3>

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}