@model DashboardOverviewModel
@{
    ViewData["Title"] = "Dashboard";
}

<br />

<h1>Budget Management Dashboard</h1>

<br />

@if (Model is null)
{
    <p>You don't have any budgets to display.</p>

    <br />

    <form asp-action="CreateBudget" method="get" class="col-md-2">
        <div class="form-group">
            <input type="submit" value="Create a New Budget" class="btn btn-primary" />
        </div>
    </form>

}
else
{
    <h3>Your Budgets</h3>

    <br />

    <form asp-action="CreateBudget" method="get" class="col-md-2">
        <div class="form-group">
            <input type="hidden" name="userId" value="@Model.DashboardBudgetsTableModels.First().UserId" />
            <input type="submit" value="Create a New Budget" class="btn btn-primary" />
        </div>
    </form>

    <br />

    <table class="table table-striped w-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardBudgetsTableModels.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardBudgetsTableModels.First().BudgetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardBudgetsTableModels.First().IsDefaultBudget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardBudgetsTableModels.First().Threshhold)
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DashboardBudgetsTableModels.ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BudgetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDefaultBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Threshhold)
                    </td>
                    <td>
                        <form asp-action="EditBudgetName" method="get" class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="budgetId" value="@item.Id" />
                                <input type="hidden" name="userId" value="@item.UserId" />
                                <input type="hidden" name="budgetName" value="@item.BudgetName" />
                                <input type="hidden" name="threshhold" value="@item.Threshhold" />
                                <input type="submit" value="Edit" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteBudget" method="get" class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="budgetId" value="@item.Id" />
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <!-- Templates section -->
    <h3>Your Templates</h3>

    <br />

    <form asp-action="CreateTemplate" method="get" class="col-md-2">
        <div class="form-group">
            <input type="hidden" name="userId" value="@Model.DashboardBudgetsTableModels.First().UserId" />
            <input type="submit" value="Create a New Template" class="btn btn-primary" />
        </div>
    </form>

    <br />

    <table class="table table-striped w-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardTemplatesTableModels.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardTemplatesTableModels.First().TemplateName)
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DashboardTemplatesTableModels.ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemplateName)
                    </td>
                    <td>
                        <form asp-action="EditTemplateName" method="get" class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="templateId" value="@item.Id" />
                                <input type="hidden" name="userId" value="DashboardBudgetsTableModels.First().UserId" />
                                <input type="hidden" name="budgetName" value="@item.TemplateName" />
                                <input type="submit" value="Edit" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteTemplate" method="get" class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="templateId" value="@item.Id" />
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}